.bottom-container {
    background-color: #88C2B8;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    padding: 15px;
}

.next-arrow {
    position: relative;
    left: 84%;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: no-repeat 50%/100% 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3ctitle%3eCarouselArrowRight%3c/title%3e%3ccircle cx='25' cy='25' r='25' fill='%23fff' opacity='0.7'/%3e%3cpolygon points='36.179 19.932 36.152 19.952 21.59 9.472 21.59 18.733 10.34 18.733 10.34 24.987 10.34 31.471 21.59 31.471 21.59 40.52 36.152 29.955 43.229 24.987 36.179 19.932' fill='%237d1863'/%3e%3cpolygon points='43.229 24.987 36.179 19.932 36.152 19.952 21.59 9.472 21.59 18.733 10.34 18.733 10.34 24.987 43.229 24.987' fill='%23a11f7f'/%3e%3cpolygon points='36.179 19.941 36.152 19.96 21.59 9.48 21.59 18.742 10.34 18.742 10.34 24.996 10.34 31.48 21.59 31.48 21.59 40.528 36.152 29.963 43.229 24.996 36.179 19.941' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='1.8'/%3e%3c/svg%3e");
    border: none;
}
  
.prev-arrow {
    position: relative;
    left: 2%;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: no-repeat 50%/100% 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3ctitle%3eCarouselArrowLeft%3c/title%3e%3ccircle cx='25' cy='25' r='25' fill='%23fff' opacity='0.7'/%3e%3cpolygon points='28.41 18.733 28.41 9.472 13.848 19.952 13.821 19.932 6.771 24.987 13.848 29.955 28.41 40.52 28.41 31.471 39.66 31.471 39.66 24.987 39.66 18.733 28.41 18.733' fill='%237d1863'/%3e%3cpolygon points='6.771 24.987 13.821 19.932 13.848 19.952 28.41 9.472 28.41 18.733 39.66 18.733 39.66 24.987 6.771 24.987' fill='%23a11f7f'/%3e%3cpolygon points='13.821 19.941 13.848 19.96 28.41 9.48 28.41 18.742 39.66 18.742 39.66 24.996 39.66 31.48 28.41 31.48 28.41 40.528 13.848 29.963 6.771 24.996 13.821 19.941' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='1.8'/%3e%3c/svg%3e");
    border: none;
}