.flash-card-container {
  background-color: transparent;
  width: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  /* This allows the shadow to wrap around the item with the clip path is applied  */
  filter: drop-shadow(3px 3px 3px rgba(50, 50, 0, 0.4));
  padding-bottom: 20px;
  padding-top: 20px;
}

.flip-card-btn {
  border: none;
  margin: 5px;
  background-color: transparent;
  outline: none;
  width: 300px;
  height: 200px;
  /*   Remove this if you don't want the 3D effect  */
  perspective: 1000px;
  border-radius: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: visible !important;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

/*  class to toggle flipping*/
.is-flipped {
  transition: transform 0.7s;
  transform: rotateY(-180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  transform: translateZ(1px);
}

.flip-card-front img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(255, 255, 255);
  color: black;
  transform: rotateY(-180deg) translateZ(-1px);
}
.flip-card-back p {
  transform: rotateY(-180deg);
}

/*  corner curl in right corner (not flipped) code*/
.curl-bottom-right {
  display: inline-block;
  position: relative;
  /* controls the speed of the curl */
  transition: all 0.2s ease;

  background-image: linear-gradient(315deg, transparent 30px, rgb(255, 255, 255) 30px);
  background-position: 340px 220px;
  background-size: 200% 200%;

  /* gives a start point for the clip animation to add and remove */
  /* -webkit-clip-path: clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 100%
    ); */
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 100%);
}

.curl-bottom-right:before {
  pointer-events: auto !important;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;

  background: linear-gradient(315deg, transparent 45%, #9b9b9b 50%, #cccccc 56%, rgb(238, 238, 238) 80%);
  /*For IE7-8-9*/
  filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#000000');
  z-index: 1000;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}

.curl-bottom-right:hover:before {
  width: 40px;
  height: 40px;
}

.curl-bottom-right:hover {
  /*   background-position: 150px 120px; */
  /* cuts out the background of the div when the corner is curled up */
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 85% 100%, 100% 80%);
  /* -webkit-clip-path: clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 85% 100%, 100% 80%
    ); */
}
