.flashcard-main-container{
  max-width: 45rem;
}

.flash-card-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition-duration: 1s;
}

.carousel-container {
  background-color: rgb(198, 227, 220);
}